@font-face {
  font-family: comfortaa;
  src: url(files/comfortaa.otf);
}

html{
	background-color: #fff; 
	margin: 0;
	padding: 0;
}

body{
	font-family: comfortaa;
}

.hide{
	display: none; 
}

#header{
	background-color: #ecf2ff;
	padding: 20px;
	padding-top: 0; 
	border-bottom-left-radius: 1em;
}

div#case{
	padding: 20px;
	padding-top: 0;
	max-width: 550px; 
}

h1 {font-family: comfortaa;}
h1 a{color: #272973;}

h1 span{
	display: block;
	font-size: 60%;
	font-style: italic; 
}

h1 span span{
	display: block;
	font-size: 60%;
	font-style: none; 
}

h2{
	font-family: comfortaa;
	color: #56AE57; 
}
h2 #updated{
	font-size: 70%;
	color: #ccc; 
}

.flex{
display: flex;
flex-wrap: wrap;
}
.flex div{
padding: 1.5em; 
}

#flex_published{
	background-color: #adf7b6;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#flex_upcoming{
	background-color: #ffee93;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

p{
}

a{
	color: #09f; 
	text-decoration: none; 
}

ul#nav{
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}

ul#nav li{
	display: inline; 
}

ul#nav li::after{
	content: " | "; 
}

ul#nav li#last::after{
	content: ""; 
}

#faq li{
	margin-bottom: 10px; 
}

#footer{
	padding: 20px 40% 20px 2%;
	background-color: #fff5ed;
	min-width: 400px;
	border-top-left-radius: 1em;
	color: #999;
}
#footer a{
	color: #ffb347;
	whitespace: nowrap; 
}
#footer p{
	max-width: 550px; 
}
