html{
	background-color: #fff; 
	margin: 0;
	padding: 0;
}

#header{
	background-color: #ecf2ff;
	padding: 10px;
	border-bottom-left-radius: 1em;
}

div#case{
	padding: 20px;
	padding-top: 0; 
}

h1 {
	color: #f90; 
}

h1 span{
	display: block;
	font-size: 60%; 
}

p{
}

a{
	color: #09f; 
	text-decoration: none; 
}

ul#nav{
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}

ul#nav li{
	display: inline; 
}

ul#nav li::after{
	content: " | "; 
}

ul#nav li#last::after{
	content: ""; 
}


#footer{
	padding: 10px 40% 10px 2%;
	background-color: #fff5ed;
	min-width: 400px;
	border-top-left-radius: 1em;
}
