body{
}
#header{
	background-color: #ecf2ff; 
}
h1 {
	color: #f90; 
}
h1 span{
	display: block;
	font-size: 60%; 
}
p{
}
a{
	color: #09f; 
	text-decoration: none; 
}
ul#nav{
	list-style-type: none;
}
ul#nav li{
	display: inline; 
}

ul#nav li::after{
	content: " | "; 
}
ul#nav li#last::after{
	content: ""; 
}


#footer{
	padding: 20px 20%;
	background-color: #fff5ed; 
}
