@font-face {
  font-family: comfortaa; 
  src: url(/files/comfortaa.ttf); 
}

@font-face {
  font-family: josefin;
  src: url(/files/righteous.ttf);
}

html{
	background-color: #fff; 
	margin: 0;
	padding: 0;
}

body{
	font-family: comfortaa;
	margin: 0;
	padding: 0;
}

.hide{
	display: none; 
}

/* NAV ####################################################### */

a{
	color: #09f; 
	text-decoration: none;
	white-space: nowrap; 
}

ul#nav{
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}

ul#nav li{
	display: inline;
	color: #A7C7E7; 
}

ul#nav li::after{
	content: " | "; 
}

ul#nav li#last::after{
	content: ""; 
}

/* HEADER ####################################################### */

#header{
	background-color: #ecf2ff;
	padding: 20px;
	padding-top: 0px;
	padding-left: 150px; 
	min-height: 250px; 
	border-bottom-left-radius: 1em;
	background-image: url("/files/logo.png");
	background-repeat: no-repeat;
	background-size: 122px 250px;
}

#header #logo_click{
	position: absolute; 
	top: 0; 
	left: 0;
	width: 122px;
	height: 250px; 
}

#header a{
	white-space: wrap;
}

/* CASE ####################################################### */

div#case{
	padding: 20px;
	padding-top: 0;
	max-width: 550px; 
}

/* HEADINGS ####################################################### */

h1{
	font-family: righteous;
	padding-top: 55px;
	color: #ffff00;
}

h1 span{
	display: block;
	font-size: 60%;
	font-style: italic;
	color: #E4CD05;
	font-family: comfortaa;
}

h1 span span{
	display: block;
	font-size: 80%;
	font-style: normal; 
}

h2{
	font-family: comfortaa;
	color: #56AE57; 
}
h2 #updated{
	font-size: 70%;
	color: #ccc; 
}

/* FOOTER ####################################################### */

#footer{
	padding: 20px 0% 20px 90px;
	background-color: #fff5ed;
	min-width: 400px;
	border-top-left-radius: 1em;
	color: #999;
	background-image: url("/files/logo.png");
	background-repeat: no-repeat;
	background-size: 73px 150px;
}
#footer ul#nav li{
	display: inline;
	color: #E7C7A7; 
}
#footer a{
	color: #ffb347;
}
#footer p{
	max-width: 550px; 
}

/* ALTERNATIVE PARAGRAPH BG COLOR ####################################################### */
#case p, #case li{
  line-height: 35px;  
  background: -webkit-repeating-linear-gradient(#ffffff, #ffffff 35px, #F8FFf8 35px, #F8FFf8 70px);
  -webkit-text-fill-color: visible;
  -webkit-background-clip: background;
}
#case p, #case li{
  line-height: 35px;  
  background: -webkit-repeating-linear-gradient(#ffffff, #ffffff 35px, #F8FFf8 35px, #F8FFf8 70px);
  -webkit-text-fill-color: visible;
  -webkit-background-clip: background;
}

/* exclude P alternating line colors */
#flex_published, #flex_published li, #flex_upcoming, #flex_upcoming li, .faq p{
	background: none; 
}

/* FLEX ####################################################### */
.flex{
display: flex;
flex-wrap: wrap;
}
.flex div{
padding: 1.5em; 
}

#flex_published, #flex_published li{
	background-color: #adf7b6;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#flex_upcoming, #flex_upcoming li{
	background-color: #ffee93;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

/* FAQ ####################################################### */
.faq p{
	background-color: #fff; 
}
.faq:hover{
            cursor: pointer;
        }
.faq_answer {
            display: none;
        } 
.faq.active .faq_answer {
            display: block;
        }

