@font-face {font-family: comfortaa; src: url(/files/fonts/comfortaa.ttf);}
@font-face {font-family: josefin; src: url(/files/fonts/righteous.ttf);}

html, body{background-color: #fff;margin: 0;padding: 0;font-family: comfortaa;height: 100%;}

body#intro{text-align: center; margin: 0 auto;margin-top:20%; }

.hide{display: none;}

#case p, #case li{line-height: 1.6;}

/* NAV ####################################################### */

a{color: #09f;text-decoration: none;white-space: nowrap;}
ul#nav{list-style-type: none;padding: 0;margin: 0;}
ul#nav li{display: inline;}
ul#nav li a{color: #97a7c7;}
ul#nav li a.feature{font-weight:bold}
ul#nav li::after{content: " | "; }
ul#nav li#last::after{content: "";}

/* HEADER ####################################################### */

#header{background-color: #ecf2ff;padding: 20px;padding-top: 0px;padding-left: 150px; min-height: 250px; border-bottom-left-radius: 1em;background-image: url("/files/img/logo.png");background-repeat: no-repeat;background-size: 122px 250px;}

/*#header #logo_click{position: absolute; top: 0; left: 0; width: 122px; height: 250px;}*/

/* CASE ####################################################### */

div#case{padding: 20px;padding-top: 0;max-width: 550px;}

/* HEADINGS ####################################################### */

h1{font-family: righteous;padding-top: 55px;color: #213459;}
h1 span{display: block;font-size: 60%;font-style: italic;color: #213459;font-family: comfortaa;}
h1 span span{display: block;font-size: 80%;font-style: normal;}
h2{color: #56AE57;}
h2 #updated{font-size: 70%;color: #ccc;}

/* FOOTER ####################################################### */

#footer{padding: 20px 3% 20px 90px;background-color: #fff5ed;min-width: 400px;border-top-left-radius: 1em;color: #999;background-image: url("/files/img/logo.png");background-repeat: no-repeat;background-size: 73px 150px;}
#footer a, #footer ul#nav a {color: #c7a787;}
#footer a{text-decoration: underline;}
#footer ul#nav a{text-decoration: none;}
#footer ul#nav a.feature{font-weight:bold;}
#footer p{max-width: 550px; line-height: 1.6;}

/* FLEX ####################################################### */
.flex{display: flex; flex-wrap: wrap;}
.flex div{padding: 1.5em;}

/* HELP ####################################################### */

#flex_published, #flex_upcoming{max-width: 550px;}
#flex_published, #flex_published li{background-color: #adf7b6;border-top-left-radius: 1em;border-bottom-left-radius: 1em;}
#flex_upcoming, #flex_upcoming li{background-color: #ffee93;border-top-right-radius: 1em;border-bottom-right-radius: 1em;}

#nav #help_nav {position: relative; bottom: 10px; padding-bottom: 20px;}
#nav #help_nav a{color: #56AE57;}

p.compelled::before{content: "Government-compelled Speech:"; color: #c00; }

/* HELP > FAQ ####################################################### */
.faq p{background-color: #fff; line-height: 1}
.faq:hover{cursor: pointer;}
.faq_question p{background-color: #eee;padding-left: 0.5in; text-indent: -0.4in;border: 2px solid #eee;border-radius: 0 0 10px 10px;  font-weight: bold;} 
.faq_answer {display: none;} 
.faq.active .faq_answer {display: block;}

