@font-face {
    font-family: comfortaa;
    src: url(/files/fonts/comfortaa.ttf);
}
@font-face {
    font-family: righteous;
    src: url(/files/fonts/righteous.ttf);
}
html, body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    height: 100%;
}
body {
    padding-bottom: 500px;
    letter-spacing: .2rem;
    text-align: center;
    margin: auto;
    width: 100%;
}

body, header, footer{max-width: 700px;}

/* make the text align left, despite body centered */
div#inner_center {
    text-align: left;
	background-color: #fff;
}
#inner_center p, #inner_center li {
    line-height: 1.6;
}
#inner_center p, #inner_center h2, #inner_center h3, #inner_center h4, #inner_center h5 {
	padding-left: 25px; 
	padding-right: 25px; 
}

#inner_center p{
	text-indent:0.5in;
}


header, footer{
	padding: 0 25px; 
}
body#intro {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}
.hide {
    display: none;
}

#inner_center p.quote, p.quote{
	line-height: 1; 
	margin-left: 0.5in;
	text-indent:0;
}

/* NAV ####################################################### */

a {
    color: #09f;
    text-decoration: none;
    font-size: 1em;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
	text-align: center; 
}
.nav li, #help_nav li {
    display: inline;
}
.nav li a {
    color: #06f;
}
/*ul.nav li a.feature{font-weight:bold}*/
.nav li::after {
    content: " | ";
}
.nav li.last::after {
    content: "";
}
p.accordion{
	display:inline; 
	color:#2a6cff;
	text-indent:none;
	background-color:transparent;
}
p.accordion:hover{
	background-color:transparent;
}
p.accordion::after{
	content: "";
}


#help_nav {
    padding: 0px 0 10px 0;
}
#help_nav a{
    color: #56AE57;
}
/* HEADER ####################################################### */

header {
    background-color: #acf;
    padding: 0 20px 20px 150px;
    min-height: 250px;
    border-bottom-right-radius: 10em;
    background-image: url("/files/img/logo.png");
    background-repeat: no-repeat;
    background-size: 122px 250px;
	background-position: top 10px left 10px;
}

header li{
	position:relative;
	right:100px;
}

/* CASE ####################################################### */

div#case {
    padding: 20px;
    padding-top: 0;
    max-width: 550px;
}
/* HEADINGS ####################################################### */

h1 {
    font-family: righteous;
    padding-top: 55px;
    color: #213459;
}
h1 span {
    display: block;
    font-size: 60%;
    font-style: italic;
    font-family: comfortaa;
}
h1 span span {
    display: block;
    font-size: 80%;
    font-style: normal;
}
h2 {
    color: #56AE57;
}
h2 #updated {
    font-size: 70%;
    color: #ccc;
}
/* FOOTER ####################################################### */

footer {
    padding: 20px 3% 20px 90px;
    background-color: #fff5ed;
    border-top-left-radius: 1em;
    color: #999;
    background-image: url("/files/img/logo.png");
    background-repeat: no-repeat;
    background-size: 73px 150px;
	background-position: top 10px left 10px;
}
footer h3{
	display:none;
}
footer a, footer ul.nav a {
    color: #FBA924;
	font-variant:small-caps; 
	font-size:1.2em; 
}
footer a {
    text-decoration: underline;
}
footer ul.nav a {
    text-decoration: none;
}
footer ul.nav a.feature {
    font-weight: bold;
}
footer p {
    line-height: 1.6;
	color: #C66314; 
}
/* FLEX ####################################################### */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex div {
    padding: 1.5em;
}
/* HELP ####################################################### */

#flex_published, #flex_upcoming {
    max-width: 550px;
}
#flex_published, #flex_published li {
    background-color: #adf7b6;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
#flex_upcoming, #flex_upcoming li {
    background-color: #ffee93;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#inner_center p.compelled {
	text-indent: 0;
}
p.compelled::before {
    content: "Government-compelled Speech: ";
    color: #c00;
}

/* HELP > collapsible ####################################################### */

.content {
  /*padding: 0 18px;*/
  display: none;
  overflow: hidden;
}

.collapsible{cursor: pointer;}


/* ACCORDIAN ############################################################### */

.accordion {
  background-color: #6c6;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

#faq p{text-indent:0;}

#contact:after, a.accordion, a.accordion:hover{
	content:none;
	background-color:transparent; 
}

#contact_paras{
	background-color:#435065;
	color:#fff;
	padding:0; 
	text-align: left;
	border-radius: 25px;
	margin-top: 15px; 
}
#contact_paras p{
	text-indent:0; 
}

h4.accordion {
  background-color: #98B3F1;
  color: #444;
}

.active, .accordion:hover {
  background-color: #afa;
}

h4.active, h4.accordion:hover {
  background-color: #ADBAFf;
}

h3.accordion, h4.accordion {
	padding: 20px;
	margin-bottom:10px; 
}

h3#compelled{
	  background-color: #ccc;
}

.accordion:after {
  content: '+';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* sections ############################################################# */

h3.title{
	text-align:center;
	font-size:2em; 
}

a#counseling_link, h3.title#counseling{
	color:#f09ea7; 
}
a#health_link, h3.title#health{
	color:#f6ca94; 
}
a#nutrition_link, h3.title#nutrition{
	color:#6fd46a; 
}
a#law_link, h3.title#law{
	color:#D2A7E9; 
}
a#loss_link, h3.title#loss{
	color:#94C9F1; 
}


#counseling_section h3{
	background-color:#f09ea7; 
}
#health_section h3{
	background-color:#f6ca94; 
}
#nutrition_section h3{
	background-color:#6fd46a; 
}
#law_section h3{
	background-color:#D2A7E9; 
}
#loss_section h3{
	background-color:#94C9F1; 
}















